body{
    background-color: beige;
}
h2{
    color: white;
}
p{
    color: white;
}
#cen{
    display: flex;
    align-items: center;
    align-content: center;
    width: 50%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}