{% include 'admin/caad.html' %}
    <br/>
    <br>
    <br>


    <table class= "table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Foto</th>
                <th>Acciones</th>

            <tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0] }}</td>
                <td>{{empleado[1] }}</td>
                <td>{{empleado[2] }}</td>
                <td>{{empleado[3] }}</td>

                <td>
                    <img class="img-thumbnail" width="100" src="uploads/{{empleado[4] }}" alt="">
                    
                </td>
                <td>{{empleado[5] }}</td>

                <td> <a class="btn btn-warning" href="/editempleados/{{empleado[0]}}">Editar</a> | 
                    <a onclick="return confirm('¿Desea borrar el empleado?')" class="btn btn-danger" href="/destroyempleados/{{empleado[0]}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'admin/piead.html' %}