<link rel="stylesheet" href="{{url_for('static',filename='cs/pro.css')}}">
{% include 'sitio/cabecera.html' %}
<script src="{{ url_for('static', filename='js/j.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<br>
<div class="text-center">
    <div class="col-8 mx-auto">
        <div class="card text-bg-dark">
            <div class="card-header">
                <h3>Carrito de compra</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <form action="/generatickete" method="POST">
                            <table class="table table-dark">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carro in carrito %}
                                    <tr>
                                        <td><input type="hidden" name="producto" value="{{ carro[1] }}">{{ carro[1] }}</td>
                                        <td><input type="hidden" name="precio" value="{{ carro[2] }}">{{ carro[2] }}</td>
                                        <td><input type="hidden" name="cantidad" value="{{ carro[3] }}">{{ carro[3] }}</td>
                                        <td><input type="hidden" name="total" value="{{ carro[4] }}">{{ carro[4] }}</td>
                                        <td><a type="button" class="btn btn-danger" href="/destroycarro/{{ carro[1] }}">Eliminar</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h5>Total a Pagar</h5>
                            <h4>${{ suma_total }}</h4>
                            <button type="submit" class="btn btn-outline-success">Generar Ticket</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% include 'sitio/pie.html' %}
