<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Productos</title>
        <link rel="stylesheet" href="{{url_for('static',filename='cs/pro.css')}}">
        {% include 'sitio/cabecera.html' %}
        <div class="cont">
            
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\pep.jpeg" alt="..." />
                    <figcaption>Pepsi 600ml. Costo $18</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                   
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\coca.jpg" title="Coca-cola de 600ml" alt="..." />
                    <figcaption>Coca-cola 600ml. Costo $18</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\fan.jpg" alt="..." />
                    <figcaption>Fanta 600ml. Costo $18</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\dp.jpeg" alt="..." />
                    <figcaption>Doritos 3D. Costo $16</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\mar.jpg" alt="..." />
                    <figcaption>Maruchan. Costo $16</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0"class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <!-- Agregar restriccion de edad -->
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\alas.jpg" alt="..." />
                    <figcaption>Cigarros Alaska. Costo $64</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                   
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\sce.jpeg" alt="..." />
                    <figcaption>Sabritas crema y especias. Costo $18</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>
            <div class="per">
                <div class="prod">
                    <img class="rounded-circle" id="pr" src="reTIEN\ruf.jpg" alt="..." />
                    <figcaption>Rufles queso. Costo $18</figcaption>
                </div>
                <div class="prod input-group mb-3">
                    <a name="" id="" class="btn btn-danger btn-success" href="#" role="button">Quitar</a>
                    <input type="number" min="0" class="c form-control" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Agregar</a>
                </div>
            </div>

            
        </div>
        {% include 'sitio/pie.html' %}
    </body>
</html>
