<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='cs/pro.css')}}">
    {% include 'sitio/cabecera.html' %}
    <script src="{{ url_for('static', filename='js/j.js') }}"></script>
</head>
<body>
    <div class="cont">
        {% for producto in productos %}
        {% if session["edad"] >= producto[5]  %}
        {% if  producto[4]>0  %}
        <div class="per">
            <div class="prod">
                <form action="/agregacarrito" method="POST">
                    <input type="hidden" name="producto" value="{{ producto[1] }}">
                    <input type="hidden" name="precio" value="{{ producto[3] }}">
                    
                    <img class="rounded-circle" id="pr" src="{{ url_for('reTIEN', nombreFoto1=producto[6] )}}" width="200" height="200" alt="..." />
                    <h5>{{ producto[1] }}</h5>
                    <h5>${{ producto[3] }}</h5>
                    <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                    <div class="prod input-group mb-3">

                <a name="" id="" class="btn btn-danger btn-success" role="button" onclick="decrementarValor(this.nextElementSibling)">-</a>
                <input type="number" min="0" class="c form-control" name="cantidad" placeholder="" aria-label="Texto de ejemplo con complementos de dos botones" required value="1" min="0" max="{{ producto[4] }}">
                <a name="" id="" class="btn btn-success" role="button" onclick="incrementarValor(this.previousElementSibling)">+</a>
            </div>
                </form>
            </div>
            
            
        </div>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    {% include 'sitio/pie.html' %}
</body>
</html>