{% include 'sitio/cabecera.html' %}

<body>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                
            <tr>
                <td>{{producto[0] }}</td>
                <td>{{producto[1] }}</td>
                <td>{{producto[2] }}</td>
                <td>{{producto[3] }}</td>
                <td><a href="/edid/{{producto[0]}}">Editar</a>
                  
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
</table>
  {% include 'sitio/pie.html' %}