{% include 'admin/caad.html' %}
<br>
<div class="container">
    {% if session['rango']!="empleado" %}
    <div class="row">
        <div class="col-4">
           <div class="card text-bg-dark">
                <div class="card-header">
                    Agregar productos
                </div>
                <div class="card-body">

                    <form action='/agrepro' method="post" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                          <label for="Codigo" class="form-label">Codigo</label>
                          <input type="number" class="form-control"  name="Codigo" id="CD" aria-describedby="helpId" min="0" required maxlength="11" placeholder="Codigo del producto">
                        </div>
                        <div class="mb-3">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text"

                              class="form-control" name="Nombre" id="NOM" aria-describedby="helpId" required maxlength="50" placeholder="Nombre del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Cantidad" class="form-label">Precio de compra</label>
                            <input type="number"  min="0"
                              class="form-control" name="Prec" id="PC" aria-describedby="helpId" required maxlength="11" placeholder="Costo del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Precio de venta</label>
                            <input type="number" min="0"
                              class="form-control" name="Prev" id="PV" aria-describedby="helpId" required maxlength="11" placeholder="Precio del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Existencias</label>
                            <input type="number" min="0"
                              class="form-control" name="Existen" id="EXI" aria-describedby="helpId" required maxlength="11" placeholder="Cantidad del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Restricion</label>
                            <input type="number" min="0"
                              class="form-control" name="Rest" id="RES" aria-describedby="helpId" required maxlength="11" placeholder="Edad para comprar el producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Imagen</label>
                            <input type="file" 
                              class="form-control" required name="imagen" id="imagen" aria-describedby="helpId" maxlength="255" placeholder="Edad para comprar el producto">
                          </div>
                          
                          <button type="submit" class="btn btn-primary" >Agregar</button>
                    </form>

                </div>
            </div>
        </div>
    {% endif %}
        <div class="col-8">
            <div class="card text-bg-dark">
                 <div class="card-header">
                    Productos
                 </div>
                 <div class="card-body">
 
                    <div class="container">
                        <div class="row table-responsive">
                            <table class="table table-dark table-responsive">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Nombre</th>
                                                    <th>Compra</th>
                                                    <th>Venta</th>
                                                    <th>Cantidad</th>
                                                    <th>Edad de compra</th>
                                                    {% if session['rango']!="empleado" %}
                                                    <th class="col-3 mx-auto">Acciones</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for producto in productos %}
                                                    
                                                <tr>
                                                    <td>{{producto[0] }}</td>
                                                    <td>{{producto[1] }}</td>
                                                    <td>{{producto[2] }}</td>
                                                    <td>{{producto[3] }}</td>
                                                    <td>{{producto[4] }}</td>
                                                    <td>{{producto[5] }}</td>
                                                    
                                                    {% if session['rango']!="empleado" %}
                                                        <td>
                                                            <a type="button" class="btn btn-warning" href="/edid/{{producto[0]}}">Editar</a> 
                                                            <a>|</a>
                                                            <a type="button" class="btn btn-danger" href="/destroy/{{producto[0]}}">Eliminar</a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
 
                 </div>
             </div>
         </div>
        
    </div>
</div>

{% include 'admin/piead.html' %}