{% include 'admin/caad.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
           <div class="card">
                <div class="card-header">
                    Agregar productos
                </div>
                <div class="card-body">

                    <form action='/store' method="post">
                        
                        <div class="mb-3">
                          <label for="Codigo" class="form-label">Codigo</label>
                          <input type="text"
                            class="form-control" name="Codigo" id="CD" aria-describedby="helpId" placeholder="Codigo del producto">
                        </div>
                        <div class="mb-3">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text"
                              class="form-control" name="Nombre" id="NOM" aria-describedby="helpId" placeholder="Nombre del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Cantidad" class="form-label">Precio de compra</label>
                            <input type="text" 
                              class="form-control" name="Cantidad" id="CANT" aria-describedby="helpId" placeholder="Costo del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Precio de venta</label>
                            <input type="text"
                              class="form-control" name="Costo" id="COST" aria-describedby="helpId" placeholder="Precio del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Existencias</label>
                            <input type="text"
                              class="form-control" name="Costo" id="COST" aria-describedby="helpId" placeholder="Cantidad del producto">
                          </div>
                          <div class="mb-3">
                            <label for="Costo" class="form-label">Restricion</label>
                            <input type="text"
                              class="form-control" name="Costo" id="COST" aria-describedby="helpId" placeholder="Edad para comprar el producto">
                          </div>
                          <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                 <div class="card-header">
                     Agregar productos
                 </div>
                 <div class="card-body">
 
                    <div class="container">
                        <div class="row">
                                        <table class="table table-light">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Nombre</th>
                                                    <th>Compra</th>
                                                    <th>Venta</th>
                                                    <th>Cantidad</th>
                                                    <th>Edad de compra</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for producto in productos %}
                                                    
                                                <tr>
                                                    <td>{{producto[0] }}</td>
                                                    <td>{{producto[1] }}</td>
                                                    <td>{{producto[2] }}</td>
                                                    <td>{{producto[3] }}</td>
                                                    <td>{{producto[4] }}</td>
                                                    <td>{{producto[5] }}</td>
                                                    <td> <a type="button" class="btn btn-warning" href="/edid/{{producto[0]}}">Editar</a> | 
                                                        <a type="button" class="btn btn-danger" href="/destroy/{{producto[0]}}">Eliminar</a>
                                                    </td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
 
                 </div>
             </div>
         </div>
        
    </div>
</div>

{% include 'admin/piead.html' %}