{% include 'admin/caad.html' %}
<br>
<!--<script src="{{ url_for('static', filename='js/j.js') }}"></script>-->
<div class="container">
    {% if session['rango']!="empleado" %}
    <div class="row">
        <div class="col-3">
           <div class="card text-bg-dark">
                <div class="card-header">
                    Agregar trabajador
                </div>
                <div class="card-body">

                    <form action='/agretra' method="post" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                          <label for="ID" class="form-label">ID</label>
                          <input type="number"
                            class="form-control" required  name="Codigo" id="CD" aria-describedby="helpId" placeholder="ID del trabajador">
                        </div>
                        <div class="mb-3">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text"
                              class="form-control" required name="Nombre" id="NOM" aria-describedby="helpId" placeholder="Nombre del trabajador">
                          </div>
                          <div class="mb-3">
                            <label for="Horario" class="form-label">Horario</label>
                            <select class="form-control" required name="Prec" id="PC" aria-describedby="helpId" onchange="validateInput()">
                              <option value="">Selecciona el horario</option>
                              <option name="Prec" id="PC" value="1 hora">1 hora</option>
                              <option name="Prec" id="PC" value="2 horas">2 horas</option>
                              <option name="Prec" id="PC" value="3 horas">3 horas</option>
                              <option name="Prec" id="PC" value="4 horas">4 horas</option>
                              <option name="Prec" id="PC" value="5 horas">5 horas</option>
                              <option name="Prec" id="PC" value="6 horas">6 horas</option>
                              <option name="Prec" id="PC" value="7 horas">7 horas</option>
                              <option name="Prec" id="PC" value="8 horas">8 horas</option>
                              <option name="Prec" id="PC" value="9 horas">9 horas</option>
                            </select>
                          </div>
                          
                          <div class="mb-3">
                            <label for="Salario" class="form-label">Salario por hora</label>
                            <input type="number"
                              class="form-control" required name="Prev" id="PV" aria-describedby="helpId" placeholder="Salario del trabajador">
                          </div>
                          <div class="mb-3">
                            <label for="Usuario" class="form-label">Usuario</label>
                            <input type="text"
                              class="form-control" required name="Existen" id="EXI" aria-describedby="helpId" placeholder="Nombre usuario">
                          </div>
                          <div class="mb-3">
                            <label for="Correo" class="form-label">Correo electronico</label>
                            <input type="email"
                              class="form-control" required name="Rest" id="RES" aria-describedby="helpId" placeholder="Correo del trabajador">
                          </div>
                          <div class="mb-3">
                            <label for="Contra" class="form-label">Contraseña</label>
                            <input type="password" 
                              class="form-control" required name="Contra" id="imagen" aria-describedby="helpId" placeholder="Contraseña">
                          </div>
                          
                          <button type="submit"  class="btn btn-primary" >Agregar</button>
                    </form>

                </div>
            </div>
        </div>
    {% endif %}
        <div class="col-9">
            <div class="card text-bg-dark">
                 <div class="card-header">
                    Productos
                 </div>
                 <div class="card-body">
 
                    <div class="container">
                        <div class="row table-responsive">
                            <table class="table table-dark table-responsive">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Horario</th>
                                                    <th>Salario por hora</th>
                                                    <th>Usuario</th>
                                                    <th class="col-3" >Correo</th>
                                                    {% if session['rango']!="empleado" %}
                                                    <th>Acciones</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for producto in productos %}
                                                    
                                                <tr>
                                                    <td>{{producto[0] }}</td>
                                                    <td>{{producto[1] }}</td>
                                                    <td>{{producto[2] }}</td>
                                                    <td>{{producto[3] }}</td>
                                                    <td>{{producto[4] }}</td>
                                                    <td>{{producto[5] }}</td>
                                                    
                                                    {% if session['rango']!="empleado" %}
                                                        <td>
                                                            <a type="button" class="btn btn-warning" href="/edide/{{producto[0]}}">Editar</a> 
                                                            <a>|</a>
                                                            <a type="button" class="btn btn-danger" href="/destroyemple/{{producto[0]}}">Eliminar</a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <p>*el salario es por hora y en moneda MXN</p>
                                        </form>
                                </div>
                            </div>             
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>
</div>
{% include 'admin/piead.html' %}